<localization-form>
  {% form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' %}
    {%- assign canada = localization.available_countries | where: 'iso_code', 'CA' | first -%}
    {%- if canada -%}
      <button
        type="submit"
        name="country_code"
        value="{{ canada.iso_code }}"
        class="link link--text disclosure__link caption-large focus-inset"
        {% if localization.country.iso_code == 'CA' %}aria-current="true"{% endif %}
      >
        {{ canada.name }} ({{ canada.currency.iso_code }})
      </button>
    {%- endif -%}
  {% endform %}
</localization-form>
