.red-sea-profile-section {
    background: var(--light-bg);
    padding: 60px 0;
}

.red-sea-profile-section .container {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
}

.profile-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.profile-text h2 {
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 20px;
}

.profile-text p {
    color: var(--text-color);
    margin-bottom: 35px;
    line-height: 1.7;
}

.btn-read {
    background: var(--primary-color);
    color: var(--white-color);
    padding: 10px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}

.btn-read:hover {
    transform: translateY(-10px) !important;
    color: #ebebeb;
}

.profile-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.icon-card {
    background: var(--light-bg);
    border-radius: 10px;
    padding: 24px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    cursor: auto;
    min-width: 220px;
}

.icon-card:hover {
    background-color: #ebebeb;
    transform: translateY(-7px);
}

.icon-img {
    fill: var(--primary-color);
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.icon-card p {
    font-weight: 600;
    color: var(--primary-color);
}


  @media (max-width: 600px) {
    .red-sea-profile-section .container{
      padding: 20px
    }
  }